# **What is Python?**

Python is a popular programming language. It was created by **Guido van Rossum**, and released in 1991.

It is used for:



*   software development,

*   web development (server-side),
*   mathematics,
*   system scripting.




**Python Syntax compared to other programming languages**


*   Python was designed for readability, and has some similarities to the English language with influence from mathematics.
*   Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.


*  Python relies on **indentation**, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

**Execute Python Syntax**
Python syntax can be executed by writing directly in the Command Line:

**\>>>print("Hello, World!")**


Hello, World!

Or by creating a python file, using the **.py **file extension, and running it in the Command Line:

**C:\Users\Your Name>python myfile.py**


**Python Indentation**

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

Example

In [ ]:

if 5 > 2:
  print("Five is greater than two!")

In [ ]:
##Syntax Error:

if 5 > 2:
print("Five is greater than two!")

In [ ]:
##The number of spaces is up to you as a programmer, but it has to be at least one.

##Example
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

In [ ]:
##You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

##Example
##Syntax Error:

if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

**Python Comments**

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

**Creating a Comment**

Comments starts with a #, and Python will ignore them:

Example:

In [ ]:
#This is a comment
print("Hello, World!")

In [ ]:
#Comments can be placed at the end of a line as given below, and Python will ignore the rest of the line:
print("Hello, World!") #This is a comment

In [ ]:
#Comments can also be used to prevent Python from executing code as given below:
#print("Hello, World!")
print("Cheers, Mate!")

**Multi Line Comments**

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Or, not quite as intended, you can use a multiline string.

Since Python will **ignore string literals that are not assigned to a variable**, you can add a multiline string in your code by placeing your comment inside **triple quotes**:

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

**Creating Variables**

Variables are containers for storing data values.

Unlike other programming languages, Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"
print(x)
print(y)

**Variables do not need to be declared with any particular type and can even change type after they have been set.**

In [ ]:
x = 4 # x is of type int
print(x)
x = "Sally" # x is now of type str
print(x)

**String variables can be declared either by using single or double quotes:**

In [ ]:
x = "John"
# is the same as
x = 'John'

**Variable Names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:



*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number
*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   **Variable names are case-sensitive** (age, Age and AGE are three different variables)

**Assign Value to Multiple Variables**

Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

**And you can assign the same value to multiple variables in one line:**

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

**Output Variables**

The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:

In [ ]:
x = "awesome"
print("Python is " + x)

# You can also use the + character to add a variable to another variable
x = "Python is "
y = "awesome"
z =  x + y
print(z)

**For numbers, the + character works as a mathematical operator:**

In [ ]:
x = 5
y = 10
print(x + y)

**If you try to combine a string and a number, Python will give you an error:**

In [ ]:
x = 5
y = "John"
print(x + y)

**Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	**str**

Numeric Types:	**int**, **float**, **complex**

Sequence Types:	**list**, **tuple**, **range**

Mapping Type: **dict**

Set Types:	**set**, **frozenset**

Boolean Type:	**bool**

Binary Types:	**bytes**, **bytearray**, **memoryview**

**Getting the Data Type**

You can get the data type of any object by using the **type()** function:

In [ ]:
#Print the data type of the variable x:
x = 5
print(type(x))

**Setting the Data Type**

In Python, **the data type is set when you assign a value to a variable:**

In [ ]:
#str
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#int
x = 5

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#float
x = 5.5

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#Complex
x = 2j

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#List
x = ["apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#tuple
x = ("apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#range
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#dist
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#set
x = {"apple", "banana", "cherry"}

#display x:
print(x)

#display the data type of x:
print(type(x))

**Frozen set** is just an **immutable** version of a Python set object. 

While elements of a **set** can be modified at any time, elements of **frozen set** remains the same after creation.

In [ ]:
#frozenset
x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#boolean
x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#bytes
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#bytearray
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
#memoryview
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

**Setting the Specific Data Type**

If you want to specify the data type, you can use the following constructor functions:

In [ ]:
##str type
x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
##int type
x = int(20)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
##float type
x = float(20.45)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
##complex type
x = complex(1j)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
##list type
x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
##tuple type
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
##range type
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
##dict type
x = dict(name="John", age=36)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
##set type
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
##frozenset type
x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
##boolean type
x = bool(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
##bytes type
x = bytes(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
##bytearray type
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

The **memoryview()** function allows direct read and write access to an object's byte-oriented data without needing to copy it first.

In [ ]:
##memoryview type
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

**Type Conversion**

You can convert from one type to another with the int(), float(), and complex() methods:

Example

Convert from one type to another:

In [ ]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

# **Strings**

In [ ]:
#Assign Strings to a variable
a = "Hello"
print(a)
a = 'Single Hello'
print(a)

# Multiline String

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

# **String Concatenation**

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

a = "Hello"
b = "World"
c = a + " " + b
print(c)

# **String Format**


As we learned in the Python Variables chapter, we cannot combine strings and numbers as given below. The below code **throws error**.

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

# But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [ ]:
#Example1
#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

In [ ]:
#Example 2

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

# **Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.


However, Python does not have a character data type, a single character is simply a string with a length of 1.


Square brackets can be used to access elements of the string.

In [ ]:
a = "Hello, World!"
print(a[1]) #Get the character at position 1 (remember that the first character has the position 0)

print(a[1:]) #Everything past the first

print(a[0:3]) #Everything but the last

print(a[:3]) #Same as a[0:3]

print(a[2:5]) #Get the characters from position 2 to position 5 (not included)

print(a[-1]) ## The last item from the end in object/variable "a"

print(a[:-1]) ## except last item from the end in object/variable "a"   or but simpler (0:-1)

print(a[-2]) ## The second to last item from the end in object/variable "a"

print(a[-5:-2]) #Get the characters from position 5 to position 1, starting the count from the end of the string

b=a+'xyz'

print(b)

print(a)  # a unchanged

b=a*2

print(b) #Repetition

# **Check String in String**

In [ ]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

# **String Methods**

Python has a set of built-in methods that you can use on strings.

The strip() method removes any whitespace from the **beginning** or the **end**:

In [ ]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

In [ ]:
a = "Hello, World!"
print(a.lower())
print(a.upper())
print(a.replace("H", "J"))
print(a.split(",")) # returns ['Hello', ' World!']

<thead> <tr> <th>Method</th> <th>Description</th> <tbody><tr>
    <td>capitalize()</a></td><td>Converts the first character to upper case</td>
    <tr>
    <td>casefold()</a></td><td>Converts string into 
    lower case</td>
  </tr>
  <tr>
    <td>center()</a></td><td>Returns a centered 
    string</td>
  </tr>
  <tr>
    <td>count()</a></td><td>Returns the number of 
    times a specified value occurs in a string</td>
  </tr>
  <tr>
    <td>encode()</a></td><td>Returns an encoded 
    version of the string</td>
  </tr>
  <tr>
    <td>endswith()</a></td><td>Returns true if the 
    string ends with the specified value</td>
  </tr>
  <tr>
    <td>expandtabs()</a></td><td>Sets the 
    tab size of the string</td>
  </tr>
  <tr>
    <td>find()</a></td><td>Searches the string for a 
    specified value and returns the position of where it was found</td>
  </tr>
  <tr>
    <td>format()</a></td><td>Formats specified 
    values in a string</td>
  </tr>
  <tr>
    <td>format_map()</td><td>Formats specified 
    values in a string</td>
  </tr>
  <tr>
    <td>index()</a></td><td>Searches the string 
    for a specified value and returns the position of where it was found</td>
  </tr>
  <tr>
    <td>isalnum()</a></td><td>Returns True if all 
    characters in the string are alphanumeric</td>
  </tr>
  <tr>
    <td>isalpha()</a></td><td>Returns True if all 
    characters in the string are in the alphabet</td>
  </tr>
  <tr>
    <td>isdecimal()</a></td><td>Returns True if all 
    characters in the string are decimals</td>
  </tr>
  <tr>
    <td>isdigit()</a></td><td>Returns True if all 
    characters in the string are digits</td>
  </tr>
  <tr>
    <td><isidentifier()</a></td><td>Returns True if 
    the string is an identifier</td>
  </tr>
  <tr>
    <td>islower()</a></td><td>Returns True if all 
    characters in the string are lower case</td>
  </tr>
  <tr>
    <td>isnumeric()</a></td><td>Returns True if 
    all characters in the string are numeric</td>
  </tr>
  <tr>
    <td>isprintable()</a></td><td>Returns True if 
    all characters in the string are printable</td>
  </tr>
  <tr>
    <td>isspace()</a></td><td>Returns True if all 
    characters in the string are whitespaces</td>
  </tr>
  <tr>
    <td>istitle()</a></td>
    <td>Returns True if the string follows the rules of a 
    title</td>
  </tr>
  <tr>
    <td>isupper()</a></td><td>Returns True if all 
    characters in the string are upper case</td>
  </tr>
  <tr>
    <td>join()</a></td><td>Joins the elements of 
    an iterable to the end of the string</td>
  </tr>
  <tr>
    <td>ljust()</a></td><td>Returns a left justified 
    version of the string</td>
  </tr>
  <tr>
    <td>lower()</a></td><td>Converts a string into 
    lower case</td>
  </tr>
  <tr>
    <td>lstrip()</a></td><td>Returns a left trim 
    version of the string</td>
  </tr>
  <tr>
    <td>maketrans()</td><td>Returns a 
    translation table to be used in translations</td>
  </tr>
  <tr>
    <td>partition()</a></td><td>Returns a tuple 
    where the string is parted into three parts</td>
  </tr>
  <tr>
    <td>replace()</a></td><td>Returns a string 
    where a specified value is replaced with a specified value</td>
  </tr>
  <tr>
    <td>rfind()</a></td><td>Searches the string for 
    a specified value and returns the last position of where it was found</td>
  </tr>
  <tr>
    <td>rindex()</a></td><td>Searches the string for 
    a specified value and returns the last position of where it was found</td>
  </tr>
  <tr>
    <td>rjust()</a></td><td>Returns a right justified 
    version of the string</td>
  </tr>
  <tr>
    <td>rpartition()</a></td><td>Returns a tuple 
    where the string is parted into three parts</td>
  </tr>
  <tr>
    <td>rsplit()</a></td><td>Splits the string at 
    the specified separator, and returns a list</td>
  </tr>
  <tr>
    <td>rstrip()</a></td><td>Returns a right trim 
    version of the string</td>
  </tr>
  <tr>
    <td>split()</a></td><td>Splits the string at 
    the specified separator, and returns a list</td>
  </tr>
  <tr>
    <td>splitlines()</a></td><td>Splits the string 
    at line breaks and returns a list</td>
  </tr>
  <tr>
    <td>startswith()</a></td><td>Returns true if 
    the string starts with the specified value</td>
  </tr>
  <tr>
    <td>strip()</a></td><td>Returns a trimmed version of the string</td>
  </tr>
  <tr>
    <td>swapcase()</a></td><td>Swaps cases, lower 
    case becomes upper case and vice versa</td>
  </tr>
  <tr>
    <td>title()</a></td><td>Converts the first 
    character of each word to upper case</td>
  </tr>
  <tr>
    <td>translate()</td><td>Returns a 
    translated string</td>
  </tr>
  <tr>
    <td>upper()</a></td><td>Converts a string 
    into upper case</td>
  </tr>
<tr><td>zfill()</a></td><td>Fills the string with 
  a specified number of 0 values at the beginning</td></tr>
</table>
  </tr> </tr> </tbody> </table>")

**Python Operators**

Operators are used to perform operations on variables and values.

Python divides the operators in the following groups:

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators

<hr>
<h2>Python Arithmetic Operators</h2>
<p>Arithmetic operators are used with numeric values to perform common mathematical operations:</p>

<table class="w3-table-all notranslate">
<tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>+</td>
<td>Addition</td>
<td>x + y</td>
</tr>
<tr>
<td>-</td>
<td>Subtraction</td>
<td>x - y</td>
</tr>
<tr>
<td>*</td>
<td>Multiplication</td>
<td>x * y</td>
</tr>
<tr>
<td>/</td>
<td>Division</td>
<td>x / y</td>
</tr>
<tr>
<td>%</td>
<td>Modulus</td>
<td>x % y</td>
</tr>
  <tr>
<td>**</td>
<td>Exponentiation</td>
<td>x ** y</td>
  </tr>
<tr>
<td>//</td>
<td>Floor division</td>
<td>x // y</td>
</tr>
</table>

<hr>
<table>
<hr>
<h2>Python Assignment Operators</h2>

<p>Assignment operators are used to assign values to variables:</p>

<table class="w3-table-all notranslate">
<tr>
<th style="width:25%">Operator</th>
<th style="width:20%">Example</th>
<th style="width:20%">Same As</th>
</tr>
<tr>
<td>=</td>
<td>x = 5</td>
<td>x = 5</td>

</tr>
  <tr>
<td>+=</td>
<td>x += 3</td>
<td>x = x + 3</td>
  </tr>
  <tr>
<td>-=</td>
<td>x -= 3</td>
<td>x = x - 3</td>
  </tr>
  <tr>
<td>*=</td>
<td>x *= 3</td>
<td>x = x * 3</td>
  </tr>
  <tr>
<td>/=</td>
<td>x /= 3</td>
<td>x = x / 3</td>
  </tr>
  <tr>
<td>%=</td>
<td>x %= 3</td>
<td>x = x % 3</td>
  </tr>
  <tr>
<td>//=</td>
<td>x //= 3</td>
<td>x = x // 3</td>
  </tr>
  <tr>
<td>**=</td>
<td>x **= 3</td>
<td>x = x ** 3</td>
  </tr>
  <tr>
<td>&amp;=</td>
<td>x &amp;= 3</td>
<td>x = x &amp; 3</td>
  </tr>
  <tr>
<td>|=</td>
<td>x |= 3</td>
<td>x = x | 3</td>
  </tr>
<tr>
<td>^=</td>
<td>x ^= 3</td>
<td>x = x ^ 3</td>
</tr>
<tr>
<td>&gt;&gt;=</td>
<td>x &gt;&gt;= 3</td>
<td>x = x &gt;&gt; 3</td>
</tr>
<tr>
<td>&lt;&lt;=</td>
<td>x &lt;&lt;= 3</td>
<td>x = x &lt;&lt; 3</td>
</tr>
</table>


<hr>

<h2>Python Comparison Operators</h2>

<p>Comparison operators are used to compare two values:</p>

<table class="w3-table-all notranslate">
<tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>

</tr>
<tr>
<td>==</td>
<td>Equal</td>
<td>x == y</td>
</tr>
<tr>
<td>!=</td>
<td>Not equal</td>
<td>x != y</td>
<tr>
<td>&gt;</td>
<td>Greater than</td>
<td>x &gt; y</td>
<tr>
<td>&lt;</td>
<td>Less than</td>
<td>x &lt; y</td>
</tr>
  <tr>
<td>&gt;=</td>
<td>Greater than or equal to</td>
<td>x &gt;= y</td>
  </tr>
<tr>
<td>&lt;=</td>
<td>Less than or equal to</td>
<td>x &lt;= y</td>
</tr>
</table>

<hr>

<hr>

<h2>Python Logical Operators</h2>

<p>Logical operators are used to combine conditional statements:</p>

<table class="w3-table-all notranslate">
<tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>and&nbsp;</td>
<td>Returns True if both statements are true</td>
<td>x &lt; 5 and&nbsp; x &lt; 10</td>

</tr>
<tr>
<td>or</td>
<td>Returns True if one of the statements is true</td>
<td>x &lt; 5 or x &lt; 4</td>

</tr>
<tr>
<td>not</td>
<td>Reverse the result, returns False if the result is true</td>
<td>not(x &lt; 5 and x &lt; 10)</td>

</tr>
</table>

<hr>

<h2>Python Identity Operators</h2>

<p>Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:</p>

<table class="w3-table-all notranslate">
<tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>
</tr>
<tr>
<td>is&nbsp;</td>
<td>Returns true if both variables are the same object</td>
<td>x is y</td>

</tr>
<tr>
<td>is not</td>
<td>Returns true if both variables are not the same object</td>
<td>x is not y</td>

</tr>
</table>

<hr>

<h2>Python Membership Operators</h2>

<p>Membership operators are used to test if a sequence is presented in an object:</p>

<table class="w3-table-all notranslate">
<tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>

</tr>
<tr>
<td>in&nbsp;</td>
<td>Returns True if a sequence with the specified value is present in the object</td>
<td>x in y</td>

</tr>
<tr>
<td>not in</td>
<td>Returns True if a sequence with the specified value is not present in the 
object</td>
<td>x not in y</td>

</tr>
</table>

<hr>

<h2>Python Bitwise Operators</h2>

<p>Bitwise operators are used to compare (binary) numbers:</p>

<table class="w3-table-all notranslate">
<tr>
<th style="width:25%">Operator</th>
<th style="width:30%">Name</th>
<th style="width:35%">Description</th>
</tr>
</tr>
  <tr>
<td>&amp;&nbsp;</td>
<td>AND</td>
<td>Sets each bit to 1 if both bits are 1</td>
  </tr>
  <tr>
<td>|</td>
<td>OR</td>
<td>Sets each bit to 1 if one of two bits is 1</td>
  </tr>
  <tr>
<td>&nbsp;^</td>
<td>XOR</td>
<td>Sets each bit to 1 if only one of two bits is 1</td>
  </tr>
<tr>
<td>~&nbsp;</td>
<td>NOT</td>
<td>Inverts all the bits</td>
</tr>
<tr>
<td>&lt;&lt;</td>
<td>Zero fill left shift</td>
<td>Shift left by pushing zeros in from the right and let the leftmost bits fall 
off</td>
</tr>
<tr>
<td>&gt;&gt;</td>
<td>Signed right shift</td>
<td>Shift right by pushing copies of the leftmost bit in from the left, and let 
the rightmost bits fall off</td>
</tr>
</table>
<hr>

# **Python Collections (Arrays)**


There are four collection data types in the Python programming language:

> **List** is a collection which is ordered and changeable. Allows duplicate members.

> **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.

> **Set** is a collection which is unordered and unindexed. No duplicate members.

> **Dictionary** is a collection which is unordered, changeable and indexed. No duplicate members.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

# **List**

A list is a collection which is **ordered** and **changeable**. In Python **lists are written with square brackets**.

**Example**

Create a List:

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist)
print(thislist[1]) #Print the second item of the list
print(thislist[-1]) #Print the last item of the list

**Range of Indexes**

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
print(thislist[2:5])  #Return the third, fourth, and fifth items of thislist

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4]) #returns the items from the beginning to "orange"
print(thislist[2:]) #returns the items from "cherry" and to the end
print(thislist[-4:-1]) #returns the items from index -4 (included) to index -1 (excluded)

thislist[1] = "jackfruit"   #Change the second item of thislist from "banana" to "jackfruit"
print(thislist)

**Methods of List**

In [ ]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist)) # number of items in the list

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist) #add an item to the end of the list

thislist.insert(1, "orange")
print(thislist)  #nsert an item as the second position

thislist.remove("banana")
print(thislist)  #emoves the specified item

thislist.pop()
print(thislist) #removes the specified index, (or the last item if index is not specified)

del thislist[0]
print(thislist) #   removes the specified index

del thislist  #deletes entire list

thislist = ["apple", "banana", "cherry"]
thislist.clear()  #method empties the list
print(thislist)

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()   #copies thislist into mylist
print(mylist)

In [ ]:
#Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist1 = list(thislist)
print(mylist1)

In [ ]:
#Join two list:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

In [ ]:
#the extend() method, which purpose is to add elements from one list to another list

list1.extend(list2)
print(list1)

In [ ]:
#list() constructor to make a List:

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

# **Tuple**

A **tuple** is a collection which is **ordered** and **unchangeable**. In Python **tuples are written with round brackets**.

In [ ]:
#Create a Tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)

Access Tuple Items

You can access tuple items by referring to the index number, inside square brackets:

Examples

Print the second item in the tuple:

In [ ]:
print(thistuple[1]) #Print the second item in the tuple
print(thistuple[-1]) #Print the last item of the tuple
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])  #Return the third, fourth, and fifth item
print(thistuple[-4:-1]) #returns the items from index -4 (included) to index -1 (excluded)

**Change Tuple Values**

Once a tuple is created, you cannot change its values. Tuples are **unchangeable**, or **immutable** as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
#Convert the tuple into a list to be able to change it

x = ("apple", "banana", "cherry")
y = list(x) #Converts tuple into list
y[1] = "kiwi"
x = tuple(y) #Converts list into tuple

print(x)

# **Methods in tuple**

In [ ]:
print(len(thistuple)) #the number of items in the tuple

#You cannot add items to a tuple:

thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)


# We can delete the tuple completely

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists


#Join two tuples:

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)


It is also possible to use the tuple() constructor to make a tuple.

thistuple1 = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple1)

# **Set**
A set is a collection which is unordered and unindexed. In Python sets are written with **curly brackets**.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)


print("banana" in thisset)

thisset.add("orange")#Adding an item to set
print(thisset)

#Add multiple items to a set, using the update() method:
thisset.update(["orange", "mango", "grapes"])

print(thisset)


print(len(thisset))  #Length or the number of items in a set


#Removing an item


thisset.remove("banana") 
#Note: If the item to remove does not exist, remove() will raise an error.

print(thisset)

thisset.discard("banana")
#If the item to remove does not exist, discard() will NOT raise an error.

print(thisset)

x = thisset.pop() #Remove the last item by using the pop() method

print(x)

print(thisset)

thisset.clear() #The clear() method empties the set

print(thisset)


#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)


#Join Two Sets
#You can use the union() method that returns a new set containing all items from both sets, 
#or the update() method that inserts all the items from one set into another:


#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)



#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

</div>
<hr>
<h2>Set Methods</h2>

<p>Python has a set of built-in methods that you can use on sets.</p>

<table class="w3-table-all notranslate">
<tr>
<th>Method</th>
<th>Description</th>
</tr>
<tr><td>add()</a></td><td>Adds an element to the 
  set</td></tr>
<tr><td>clear()</a></td><td>Removes all the 
  elements from the set</td></tr>
<tr><td>copy()</a></td><td>Returns a copy of the set</td></tr>
  <tr>
    <td>difference()</a></td><td>Returns a set 
    containing the difference between two or more sets</td>
  </tr>
  <tr>
    <td>difference_update()</a></td><td>Removes the 
    items in this set that are also included in another, specified set</td>
  </tr>
<tr><td>discard()</a></td><td>Remove the specified 
  item</td></tr>
  <tr>
    <td>intersection()</a></td><td>Returns a set, 
    that is the intersection of two other sets</td>
  </tr>
<tr><td>intersection_update()</a></td><td>
  Removes the items in this set that are not present in other, specified set(s)</td></tr>
  <tr>
    <td>isdisjoint()</a></td><td>Returns whether 
    two sets have a intersection or not</td>
  </tr>
  <tr>
    <td>issubset()</a></td><td>Returns whether 
    another set contains this set or not</td>
  </tr>
<tr><td>issuperset()</a></td><td>Returns whether 
  this set contains another set or not</td></tr>
<tr><td>pop()</a></td><td>Removes an element from the 
  set</td></tr>
<tr><td>remove()</a></td><td>Removes the specified element</td></tr>
  <tr>
    <td>symmetric_difference()</a></td><td>Returns 
    a set with the symmetric differences of two sets</td>
  </tr>
<tr><td>symmetric_difference_update()</a></td><td>
  inserts the symmetric differences from this set and another</td></tr>
  <tr>
    <td>union()</a></td><td>Return a set containing 
    the union of sets</td>
  </tr>
<tr><td>update()</a></td><td>Update the set with the 
  union of this set and others</td></tr>
</table>

<hr>

# **Python Dictionaries**

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [6]:
#Create and print a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
True

In [ ]:
#Get the value of the "model" key:

x = thisdict["model"]
print(x)

# method get() will also give you the same result
x = thisdict.get("model")
print(x)

thisdict["year"] = 2018 #Change the "year" to 2018
print(thisdict)

In [ ]:
#You can loop through a dictionary by using a for loop

for x in thisdict:
  print(x)

for x in thisdict:
  print(thisdict[x])

#use the values() function to return values of a dictionary
for x in thisdict.values():
  print(x)

#Display of both keys and values, by using the items() function

for x, y in thisdict.items():
  print(x, y)


#Check if "model" is present in the dictionary
x="model" in thisdict
print(x)

In [ ]:
#Print the number of items in the dictionary or length

print(len(thisdict))

#Adding an item to the dictionary is done 
#by using a new index key and assigning a value to it:
thisdict["color"] = "red"
print(thisdict)

In [ ]:
#Removing Items

#The pop() method removes the item with the specified key name
thisdict.pop("model")
print(thisdict)

#The popitem() method removes the last inserted item
thisdict.popitem()
print(thisdict)

#The del keyword removes the item with the specified key name
del thisdict["model"]
print(thisdict)

#The del keyword can also delete the dictionary completely
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

#The clear() keyword empties the dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

# **Copy a Dictionary**

You cannot copy a dictionary simply by typing **dict2 = dict1**, because: **dict2** will only be a reference to **dict1**, and changes made in **dict1** will automatically also be made in **dict2**.

There are ways to make a copy, one way is to use the built-in Dictionary method **copy()** and **dist()**.

In [ ]:
#Duplicate with copy()
mydict = thisdict.copy()
print(mydict)

#Duplicate with dist()
mydict1 = dict(thisdict)
print(mydict1)

</div>
<hr>
<h2>Dictionary Methods</h2>

<p>Python has a set of built-in methods that you can use on dictionaries.</p>

<table class="w3-table-all notranslate">
<tr>
<th>Method</th>
<th>Description</th>
</tr>
<tr><td>clear()</a></td><td>Removes all the elements from the dictionary</td></tr>
<tr><td>copy()</a></td><td>Returns a copy of the dictionary</td></tr>
<tr><td>fromkeys()</a></td><td>Returns a dictionary with the specified keys and values</td></tr>
<tr><td>get()</a></td><td>Returns the value of the specified key</td></tr>
<tr><td>items()</a></td><td>Returns a list containing a tuple for each key value pair</td></tr>
<tr><td>keys()</a></td><td>Returns a list containing the dictionary's keys</td></tr>
<tr><td>pop()</a></td><td>Removes the element with the specified key</td></tr>
<tr><td>popitem()</a></td><td>Removes the last 
  inserted key-value pair</td></tr>
<tr><td>setdefault()</a></td><td>Returns the value of the specified key. If the key does not exist: insert the key, with the specified value</td></tr>
<tr><td>update()</a></td><td>Updates the dictionary with the specified key-value pairs</td></tr>
<tr><td>values()</a></td><td>Returns a list of all the values in the dictionary</td></tr>
</table>
<hr>